@import "tailwindcss";

body {
  margin: 0;
  padding-top: 20px;

}

::-webkit-scrollbar {
  width: 0px;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}